# Data Science Tools and Ecosystem

## Introduction
##### In this notebook,Data Science Tools and Ecosystem are summarized

## Objectives
- List data science languages
- List data science libraries
- Create a table with data science tools
- arithmetic expression in python
- convert minutes to hours

## Data Science languages
some of the popular languages data scientist use are:
- Python
- R
- SQL

## Data Science Libraries
some of the data science libraries are:
- pandas
- numpy
- seaborn
- ggplot

## Table with data science tools
| Data Science Tools       |
|--------------------------|
| Jupyter Notebooks         |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in python

In [1]:
20*20

400

In [3]:
# this is a simple arithmetic expression to explin the operation
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Favour Amarachi Alor